/*

CSS Name: Default Styles

Description: NextGEN Default Gallery Stylesheet

Author: Imagely

Version: 2.13



This stylesheet is provided to allow users the ability of overriding the default styles for all display types

*/

.ngg-galleryoverview.default-view .ngg-gallery-thumbnail a {
    margin: 15px;
    box-shadow: none;
}